# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1

In [4]:
#Answer 1
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
my_list2 = [1]
type(my_list2)

for i in range(2,11):
    my_list2.append(i)

print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

```
---
### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [16]:
# Exercice 2:

my_tuple = ("apple","banana","cherry")
my_tuple

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [19]:
# Answer 3:
numbers = [10, 20, 30, 40]
tnumbers = tuple(numbers)
type(tnumbers)

#print(tnumbers)

tuple

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [20]:
# Aswer 4:
my_set = {1, 2, 3, 4, 5}
type(my_set)

set

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [21]:
stundent = {"name":"Alice","age":20, "grade":"A"}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [22]:
this_list = [10,20,30,40,50]
print(this_list[1])

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [23]:
fruits = ["apple", "banana", "cherry","orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [26]:
numbers = {1,2,3,4,5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [30]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")  # supprime et peut afficher la valeur de la cl√© avec print(value)
person

{'name': 'John', 'city': 'New York'}

In [31]:
person = {"name": "John", "age": 25, "city": "New York"}

del person["age"]

person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [37]:
list_zero2nine = list(range(10))
list_zero2nine

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
set_zero2nine = set(range(10))
set_zero2nine

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
tuple_zero2nine = tuple(range(10))
tuple_zero2nine

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [41]:
list_comp_of_squares_one2ten = [i*2 for i in range(1,11)]
list_comp_of_squares_one2ten

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [47]:
tuple_comp_even2andten = tuple(i for i in range(2,10,2)) # without the tuple() funtion, it doesn't work; differently from the liste
print(tuple_comp_even2andten)

(2, 4, 6, 8)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [48]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [54]:
numbers = {1, 2, 3, 4, 5}
res = 3 in(numbers)
res

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [55]:
numbers = (10, 20, 30)

len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [57]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [62]:
# with for loop : quite longn but ...
def sum_elem_list(my_list:list):
    sum_elem = 0
    for i in my_list:
        sum_elem += i
    return sum_elem

sum_elem_list(scores)

450

In [65]:
# without sum fonnction : verry short code
def sum_elem_list(my_list:list):
    return sum(m_list)

m_list = [0, 5, 10, 15, 20]
sum_elem_list(m_list)

50

In [67]:
# Using while loop : quite long code, but annyway :

def sum_of_elem_list(the_liste:list):
    summ = 0
    i=0
    while i <= len(the_liste):
        summ += i
        i+=1
        return summ
        
the_liste = [0, 5, 10, 15, 20]
sum_elem_list(the_liste)

50

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [10]:
numbers = [1, 2, 2, 3, 4, 4, 5]

set_numbers = set(numbers)
set_numbers

{1, 2, 3, 4, 5}

In [70]:
type(set_numbers)

set

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [ ]:
string = "hello"

list_of = list(string)

In [73]:
list_of

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [77]:
def inverse_tuple(to_inverse:tuple):
    inversed = to_inverse.reverse()
    return insersed
    
inverse_tuple = (1, 2, 3, 4)
inverse_tuple(inverse_tuple)

TypeError: 'tuple' object is not callable

In [5]:
# As we connot modify the element of tuple, to inverse them i'm goinf to convert it in a list, 
# then i inverse the list, after I'll convert the invered list into a tupple : 

def inverse_tuple_by_list(my_tuple: tuple):
    liste_tempo = list(my_tuple)
    liste_tempo.reverse()
    inversed_tuple = tuple(liste_tempo)
    return inversed_tuple

inverse_tuple = (1, 2, 3, 4)
inverse_tuple_by_list(inverse_tuple)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [1]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

f_dict = dict1 | dict2
f_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
# with update() fucntion
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dic1dic2 = {k:v for d in (dict1,dict2) for k,v in d.items()}
dic1dic2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [9]:
# The ordre of the list in vey important
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

f_dict2 = dict2 | dict1
f_dict2

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [19]:
dict_sq = {k:k**2 for k in range(1,6)}
dict_sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [29]:
# or by using two existing lists, combining then with zip() function

keyss = [k for k in range(1,6)]
valuess =[k**2 for k in keyss]         
dict_sq2 = {k:v for k, v in zip(keyss,valuess)}
dict_sq2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [38]:
for k,v in dict_sq2.items():
    print(f"Key ==> {k} : Value ==> {v}")

Key ==> 1 : Value ==> 1
Key ==> 2 : Value ==> 4
Key ==> 3 : Value ==> 9
Key ==> 4 : Value ==> 16
Key ==> 5 : Value ==> 25

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [45]:
# using Code ASCII standard from 0 to 127
first5_c_letters = [chr(i) for i in range(65,70)] 
first5_c_lettersc

['A', 'B', 'C', 'D', 'E']

In [46]:
first5_s_letters = [chr(i) for i in range(97,102)] # small letters ; or using .lower() method on the fist
first5_s_letters

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [51]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

combined = list(zip(list1, list2)) # Cfr Execice 22, my 2nd proposition of sollution
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [54]:
ma_liste =[10, 20, 30, 40, 50]
ma_liste.index(50)

4

In [59]:
# same for a tuple :
ma_tuple =(10, 20, 30, 40, 50)
ma_tuple.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [60]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

In [61]:
namess = ["Alice","David", "Bob", "Charlie"]

sorted_names = sorted(namess)
sorted_names

['Alice', 'Bob', 'Charlie', 'David']

In [65]:
names1 = ["Alice","David", "Bob", "Charlie"]

print(names1)
print("===")
sorted(names1)

['Alice', 'David', 'Bob', 'Charlie']
===

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [68]:
#with max() function : very short

def largest_int(my_int_list:list)-> int:
    return (max(my_int_list))

ma_liste =[10, 20, 30, 40, 50]
largest_int(ma_liste) # cfr list from Exercice 26

50

In [71]:
# with loop for : a bit long

def largest_int2(my_int_list:list)-> int:
    largest_int = 0
    for i in my_int_list :
        if i > largest_int :
            largest_int = i        
    return largest_int

largest_int2([8,5,7,9,1,7,3])

9

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [72]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

In [74]:
# using for loop:
n = 0
for fruit in fruits :
    if fruit == "apple":
        n +=1
print(n)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [77]:
person = {"name":"alice", "age":25,"city":"New York"}

person["city"]

'New York'

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [78]:
# using a set (unique element) : Attention : his will change ordre of elements because the set will be sorted
def remouve_list_dupli(my_list:list)->list:
    uniq_list = set(my_list) # convert the list in tos a set
    return list(uniq_list) # reconvesrion of set in to list

remouve_list_dupli([1,1,2,5,8,7,9,7,9,1,5,2,4])

[1, 2, 4, 5, 7, 8, 9]

In [85]:
# susing a for loop
def remouve_list_dupli2(my_list2:list)->list:
    uniq_list2 = []
    for elem in my_list2:
        if elem not in uniq_list2:
            #uniq = my_list2.pop(elem)
            uniq_list2.append(elem)
    return uniq_list2        
    
remouve_list_dupli2([1,1,2,5,8,7,9,7,9,1,5,2,4]) # the unique element list in their order of apparution

[1, 2, 5, 8, 7, 9, 4]

In [84]:
def remouve_list_dupli2(my_list2):
    uniq_list2 = []  # Initialiser la liste pour les √©l√©ments uniques
    for elem in my_list2:
        if elem not in uniq_list2:  # V√©rifie si l'√©l√©ment n'est pas d√©j√† dans uniq_list2
            uniq_list2.append(elem)  # Ajoute l'√©l√©ment unique √† uniq_list2
    return uniq_list2

# Appel de la fonction
result = remouve_list_dupli2([1, 1, 2, 5, 8, 7, 9, 7, 9, 1, 5, 2, 4])
print(result)  # Affiche : [1, 2, 5, 8, 7, 9, 4]

[1, 2, 5, 8, 7, 9, 4]

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [90]:
# Avec deux doucles for imbriqu√©es et deux tests if imbiqu√©s
def intersec_list(list1:list, list2:list)->list:
    intersection_elem =[]
    for i in list1:
        for j in list2:
            if i==j:
                if j not in intersection_elem:
                    intersection_elem.append(j)
    return intersection_elem

intersec_list([1,2,3,4,5,6,7,8,9],[1,0,2,6,5,8,10])

[1, 2, 5, 6, 8]

In [93]:
# with a list comprehension :
def intersec_list2(list1, list2):
    intersection_elem2 = []
    for item in list1:
        if item in list2:  # This checks the entire list2
            intersection_elem.append(item)
    return intersection_elem2
intersect_lists([1,2,3,4,5,6,7,8,9],[1,0,2,6,5,8,10])

[1, 2, 5, 6, 8]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [99]:
def squares():
    for i in range(1,11):
        yield i**2

for square in squares():
    print(square)

1
4
9
16
25
36
49
64
81
100

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [102]:
# 
def sum_of_elem_dict(my_dict:dict):
    somm = sum(v for v in my_dict.values())
    return somm
    
sum_of_elem_dict({1:2,3:4})

6

In [103]:
# or simply this 

def sum_of_elem_dict(my_dict:dict):
    somme = sum(my_dict.values())
    return somme
    
sum_of_elem_dict({1:2,3:4})

6

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [104]:
# ascending order is default
my_list = [3, 1, 4, 1, 5, 9]
sorted(my_list) 

# for descending ordre, we have to add a prameter : sorted(my_list, reverse =True) 
# idem for sort() method like this : my_listort(reverse =True)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [106]:
def logest_str(my_str_list:list)-> str:
    if not strings: 
        return None
        
    n=0
    for string in my_str_list:
        if len(string)>n:
            n=len(string)
    return string

logest_str(["je","vais","bien"])

'bien'

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [107]:
m_list =  [1, 2, 3, 4, 5]

if all(m_list) >0:
    print("All element are greater than 0")
else:
    print("Ther might at least one element less or equal to 0")

All element are greater than 0

In [108]:
my_lis = [1, 2, 3, 4, 5]
greater_than_zero = all(n > 0 for n in my_lis)
print(greater_than_zero)  # Output: True

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [113]:
my_tuple = tuple((i,i**2) for i in range(1,6))
my_tuple

((1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [114]:
def second_elem(list_of_tuple):
    return [tupl[1] for tupl in list_of_tuple] # t[0] √©tant le 1er √©l√©ment
    
second_elem(my_tuple) # for the previews listen it will give the squares

[1, 4, 9, 16, 25]

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [117]:
# Esier with list comprehensiion than normal nestd for loops : very short code
def single_list(list_of_list : list) ->list:
    return [element for short_list in list_of_list for element in short_list] # list comprehension using 2 nested  for loops

# Example usage
list_of_list = [["a", "b", "c"], ["d", "e","f", "g"], ["h", "i", "j", "k", "l", "m", "n"], [1,2,3,4,5,6]]
single = single_list(list_of_list)

print(single)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 1, 2, 3, 4, 5, 6]

In [ ]:
# Using two nested for loops without list comprehension : TO BE DONE after submission as a free exercise !!

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [123]:
fruit_list =["apple", "banana", "cherry"]

#enumerate () tres important si on veux avoir les √©lements et leurs index

for i, valeur in enumerate(fruit_list, start=1): # start est pard√©faut √† 0, si rien n'est indiqu√©. ex : for i, valeur in enumerate(fruit_list)
    print(i,valeur)

1 apple
2 banana
3 cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [129]:
def is_empty(my_tuple :tuple):
    return len(my_tuple) == 0  # if the length of the tuple is 0
is_empty((1,2))

False

In [128]:
# using test if
def is_empty(my_tuple :tuple):
        if len(my_tuple) ==0: #if the length of the tuple is 0
            return True 
        else:
            return False
is_empty(())

True

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [135]:
elem = [i+1 for i in range(1,21,2)] # je mets +1 comme je commence √† 1 alors que je veux avoir les chiffres pairs
elem

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
elem = [i for i in range(2,21,2)] # m√™me refl√©xion, mais l√† je commence directement √† 2 commenje ne veux que les pairs
elem

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [136]:
def liste_inversee(ma_liste : list)-> list:
    return ma_liste[::-1]
liste_inversee([0,1,2,3,4,5])

[5, 4, 3, 2, 1, 0]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [137]:
def dict_cube()->dict:
    return {i:i**3 for i in range(1,6)}

dict_cube()

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [4]:
mylist= [1, 2, 2, 3, 4, 4, 5]
malist_of_unique = list(set(mylist))
print(malist_of_unique)

[1, 2, 3, 4, 5]

In [5]:
#using a fucntion with the for loop, but quite long
def list_of_uniq(my_list):
    test_uniq = []
    for elem in my_list:
        if elem not in test_uniq:
            test_uniq.append(elem)
    return test_uniq

# appel de la focntion
mylist = [1, 2, 2, 3, 4, 4, 5]
unique_list = list_of_uniq(mylist)

print(unique_list)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [17]:
# similar idea as Exercice 40, but almost diffrent
def list_of_age_values(list_of_dicts):
    return [dic.get('age') for dic in list_of_dicts if 'age' in dic] # pour l'age par exemple
    
list_of_dicts = [
    {'name': 'Christian', 'age': 35},
    {'name': 'Rosly', 'age': 28},
    {'name': 'Luc', 'age': 30}
 ] 

list_of_age_values(list_of_dicts)

[35, 28, 30]

In [15]:
# ce code est plus facile, en ajoutant la cl√© √† recherch√©e dans les arguments

def list_of_key_values(list_of_dict, key) :
    return [dic.get(key) for dic in list_of_dict if key in dic]

list_of_dicts = [
    {'name': 'Christian', 'age': 35},
    {'name': 'Rosly', 'age': 28},
    {'name': 'Luc', 'age': 30}
 ]

list_of_key_values(list_of_dicts, "age")

[35, 28, 30]

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [28]:
def fibonacci_sequence(n):
    a =0
    b =1 # initialisation pour 0 =0, pour 1= 1; pour la suite pour 2 = fibonnacci ne 1 + fibonnaci de 0 (fibo des deux termes pr√©c√©dent)
    
    for i in range(n):
        yield a  # Yield the current value
        a, b = b, a + b

# Example usage
termes =7
fibonacci = fibonacci_sequence(termes)

print(list(fibonacci))

[0, 1, 1, 2, 3, 5, 8]

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [31]:
def unique_list_char(my_string):
    unique_chars= []
    seen_char = []
    for char in my_string :
        if char not in seen_char :
            unique_chars.append(char)
            seen_char.append(char)
    return list(unique_chars)

my_string = "Senegal"
unique_chars_l = unique_list_char(my_string)

print(unique_chars_l)

['S', 'e', 'n', 'g', 'a', 'l']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [33]:
# fa√ßon plus facile de le fusionner deux it√©rables ordonn√©s
import heapq

def sorted_lists(list1, list2):
    return list(heapq.merge(list1, list2)) # ne marche que pour les donn√©es de m√™me type, pas une liste de int et string

merged = sorted_lists([1,2,3,4],[5,6,7,8])
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [39]:
def filter_out_odd_number(my_list):
    out_odd_number = list(filter(lambda x: x % 2 == 0, my_list)) # Having even number, odd nomber are out !
                                                                 # If I want to have odd number I change the odition : lambda x: x % 2 != 0
    return out_odd_number

mylist = [1, 2, 3, 4, 5, 6]
print(filter_out_odd_number(mylist))

[2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [41]:
def dict_from_list_tuples(list_of_tuples) -> dict :
    return dict(list_of_tuples)

list_of_tuples = [(1, 2), (3, 4), (5, 6)]
dict_from_list_tuples(list_of_tuples)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [43]:
def symmetric_diff(my_set1:set, my_set2:set): # j-i pourtout j appartenant √† set2, i appartenant √† set1
    return my_set1.symmetric_difference(my_set2) # we can olso use for loop 

# Example usage
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

res = symmetric_diff(set1, set2)

print(res)

{1, 2, 5, 6}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [45]:
def common_elem_in_list(list1, list2, list3):
    common = set(list1) &set(list2) & set(list3)
    return list(common)

# Example usage
list1 = [1, 2, 3,4]
list2 = [2,4,6,8]
list3 = [1,2,4,7,9]

result = common_elem_in_list(list1, list2, list3)

print(result)

[2, 4]

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [57]:
def factoriel(n):
    if n < 0:
        raise ValueError("Not alowed for negative numbers")
    elif n == 0 or n == 1:
        return 1  # Base case: factorial of 0 or 1 is 1
    else:
        return n * factoriel(n - 1)  # Recursive case

# Example usage
try:
    number =7
    fact = factoriel(number)
    print(f"The factorial of {number} is {fact}")  # Output: The factorial of 5 is 120
except ValueError as er:
    print(er)

The factorial of 7 is 5040

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [58]:
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit]
print(filtered_fruits)

['apple', 'banana', 'cherry']

In [61]:
fruits = ["apple", "", "banana", "", "cherry"]
new_fruits =[]
for fruit in fruits :
    if fruit:
        new_fruits.append(fruit)
print(new_fruits)
        #print(filtered_fruits)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [12]:
def swap_keys_values(init_dict: dict)->dict:
    final_dict ={}
    for k,v in init_dict.items():
        final_dict[v] = k
    return final_dict     

init = {"name":"Christian","age":35}
swap_keys_values(init)

{'Christian': 'name', 35: 'age'}

In [15]:
# or using dictionnary comprehension like this :
def swap_keys_values(init_dict: dict)->dict:
    return {v: k for k, v in init_dict.items()}     

init = {"name":"Christian","age":35}
swap_keys_values(init)

{'Christian': 'name', 35: 'age'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [18]:
# Looks like Execice 51
def filter_even_numbers(int_list):
    return [num for num in int_list if num % 2 == 0]

#Appel :
init_list = [i for i in range(0,20)]
even_numbers = filter_even_numbers(init_list)

print(even_numbers)

[0, 2, 4, 6, 8, 10]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [21]:
def first_elements(tuple_list):
    return [elem[0] for elem in tuple_list]

my_tuples = [(1, 2), (3, 4), (5, 6)]
f_elements = first_elements(my_tuples)

print(f_elements)

[1, 3, 5]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [22]:
# I provided the solution at Exercise 49, did't know that such question will come after :
#I reproduce the same reasoning for Exercise 60, while changing the example of application

In [23]:
def remove_duplicates(origin_list):
    seen_elem = set() 
    final_list = []
    
    for elem in origin_list:
        if elem not in seen_elem:
            seen_elem.add(elem)
            final_list.append(elem) 
            
    return final_list

# Example usage
my_list = [1, 2, 3, 2, 4, 3, 5, 1, 6, 7, 8, 6, 7, 9, 0]
then_list = remove_duplicates(my_list)

print(then_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
# see Exercice 49 :
def unique_list_char(my_string):
    unique_chars= []
    seen_char = []
    for char in my_string :
        if char not in seen_char :
            unique_chars.append(char)
            seen_char.append(char)
    return list(unique_chars)

my_string = "Senegal"
unique_chars_l = unique_list_char(my_string)

print(unique_chars_l)

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [24]:
list_of_str= ["me", "you", "tree", "number"]
lengths = list(map(len, list_of_str))
print(lengths)  # Output: [5, 6, 6, 4]

[2, 3, 4, 6]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [27]:
def list_average(list_numbers):
    if not list_numbers:  # evite les erreurs en cas d'une liste vide
        return 0  #

    numerator = sum(list_numbers)
    denominator = len(list_numbers)
    average = numerator/ denominator

    return average

# CAll
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list_average(number_list)

print(f"The average of {number_list} is : {result}")

The average of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is : 5.5

In [29]:
# short code

def list_average(list_numbers : list):
    if not list_numbers:  # evite les erreurs en cas d'une liste vide
        return 0
    return sum(list_numbers) / len(list_numbers)


number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list_average(number_list)
print(f"The average of {number_list} is : {result}")

The average of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is : 5.5

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [31]:
# cfr reasonning of Exercice 48 but here we don't use yield

def fibonacci2(n):
    fibonacci_list = []
    a, b = 0, 1 

    for i in range(n):
        fibonacci_list.append(a) # In exercise 48, it was yieal a
        a, b = b, a + b  # Update a and b to the next Fibonacci numbers
    return fibonacci_list


n_terms = 6
fibonacci = fibonacci2(n_terms)
print(f"The first {n_terms} Fibonacci numbers are: {fibonacci}")  # Output: The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

The first 6 Fibonacci numbers are: [0, 1, 1, 2, 3, 5]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [32]:
from collections import Counter
my_list = ["apple", "banana", "apple", "cherry"]

nb_fruit = Counter(my_list)
print(nb_fruit)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

In [33]:
my_list = ["apple", "banana", "apple", "cherry"]

nb={}
for elem in my_list :
    if elem in nb:
        nb[elem] +=1
    else:
        nb[elem] = 1
        
print(nb)

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [34]:
# short code with list comprehension than with loops
def remove_value(origin_list, value2remove):
    return [value for value in origin_list if value != value2remove]


my_list = [1, 2, 3, 2, 4, 2, 5]
value2r = 2
new_list = remove_value(my_list, value2r)
print("Initial List:", my_list)
print("New List:", new_list)

Initial List: [1, 2, 3, 2, 4, 2, 5]
New List: [1, 3, 4, 5]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [36]:
# short code with list comprehension then with loops and if test
def starting_by_vowel(this_list):
    vowels_list = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U') #Is y considered as a vowel in english ?
    return [char for char in this_list if char.startswith(vowels_list)]

string_list = ["apple", "banana", "umbrella", "grape", "orange", "kiwi"]
filtered_list = starting_by_vowel(string_list)
print("Original List:", string_list)
print("Filtered List:", filtered_list)

Original List: ['apple', 'banana', 'umbrella', 'grape', 'orange', 'kiwi']
Filtered List: ['apple', 'umbrella', 'orange']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [ ]:
# same reasoning as exercise 54 : diff√©rence we had lists for ex54; here we have we have 2 sets

In [38]:
def set_intersection(set1 :set, set2 : set):
    "Inserction of two stes"
    return set1.intersection(set2)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set_intersection(set1, set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection: {4, 5}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [ ]:
def flatten_list(lis_of_list):
    """Flatten a nested list into a single list."""
    flattened_list = []
    
    for elem in list_of_list:
        if isinstance(elem, list):
            flattened_list.extend(flatten_list(elem))  # Recursive call for nested lists
        else:
            flattened_list.append(elem)
    return flattened_list


alist = [[1, 2, [3, 4]], [5, 6], 7, [8, [9, 10]]]
flattened_list = flatten_list(nested)
print("Nested List:", nested)
print("Flattened List:", flattened_list)

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---